/*global rules*/
body {
	font-size: 16px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.flex {
	display: flex;
}

@media only screen and (max-width: 900px) {

.tablet_hide {
	display: none;
}

}

@media only screen and (min-width:900px) {

	.tablet_display {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	.mobile_hide {
		display: none;
	}

	.mobile
}

@media only screen and (min-width: 480px) {
	.mobile_show {
		display: none;
	}
}

.offset {
	position: relative;
	top: 3rem;
}

/*Fixed Header*/

.fixed {
	justify-content: space-between;
	align-items: center;
	padding: .25rem 0;
	background-color: yellow;
	position: fixed;
	height: 3rem;
	width: 100%;
	z-index: 2;
}

.logo {
	padding-left: 1.5rem;
	align-items: center;
}

.logo span {
	text-transform: uppercase;
	font-size: 1.15rem;
}

#opaque {
	opacity: .5;
}

nav {
	padding-right: 1.5rem;
}

nav li {
	margin-left: 1rem;
	padding: .5rem;
	background-color: green;
	border-radius: 3px;
}

.icons {
	justify-content: space-around;
}

.icons img{
	height: 3rem;
	width: auto;
}

@media only screen and (max-width: 480px) {
	.icons img {
		height: 2rem;
		width: auto;
	}
}

/*first banner*/

.banner1 {
	padding: 2rem 1.5rem;
	align-items: center;
	background-color: purple;
}

@media only screen and (max-width: 900px) {
	.banner1 {
		flex-direction: column;
		padding: 1rem 0;
	}
}

.banner1 img {
	width: 60%;
	height: auto;
	padding-bottom: 2rem;
}

@media only screen and (max-width: 900px) {
	.banner1 img {
		width: 100%;
		height: auto;
	}
}

.banner1_text {
	text-align: center;
}

@media only screen and (max-width: 900px) {
	.banner1_text {
		text-align: left;
		padding-left: .5rem;
	}
}

.banner1_text h1 {
	padding-bottom: 1.5rem;
}

@media only screen and (max-width: 480px) {
	.banner1_text h1 {
		font-size: 2rem;
	}
}

.banner1_text h2 {
	padding-bottom: 2rem;
}

@media only screen and (max-width: 480px) {
	.banner1_text h2 {
		font-size: 1.25rem;
	}
}

.banner1_text p {
	display: inline-block;
	padding: .5rem 1.5rem;
	background-color: red;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (max-width: 480px) {
	.banner1_text p {
		padding: .5rem 3rem;
	}
}

/*second banner section*/

.banner2 {
	padding: 2rem 1.5rem;
	max-width: 100%;
}

@media only screen and (max-width: 480px) {
	.banner2 {
		padding: 2rem .25rem;
	}
}

.banner2_lrg_info {
	width: 60%;
	padding-right: 1.5rem;
}

.banner2_lrg_info img {
	width: 100%;
	height: auto;
	padding-bottom: 2rem;
}

.banner2_lrg_info h2 {
	padding-bottom: 1.5rem;
}

.banner2_lrg_info p {
	padding-bottom: 2rem;
}

.banner2_boxes {
	flex-direction: column;
	max-width: 40%;
}

.info_boxes {
	padding: .5rem;
	align-items: center;
	margin-bottom: .5rem;
	background-color: gray;
}

.info_boxes img {
	max-width: 35%;
	height: auto;
	padding-right: .5rem;
}

.info_boxes_text h3 {
	padding-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
	.info_boxes_text h3 {
		font-size: 1.15rem;
	}
}

.info_boxes_text p {
	padding-bottom: .75rem;
}

@media only screen and (max-width: 900px) {
	.info_boxes_text p {
		font-size: .85rem;
	}
}

.banner2_mobile {
	width: 100%;
}

.banner2_mobile_boxes {
	margin-bottom: .5rem;
	background-color: gray;
	padding: .5rem;
}

.banner2_mobile_boxes img {
	max-width: 100%;
	padding-bottom: 1rem;
}

.banner2_mobile_boxes h3 {
	padding-bottom: .75rem;
}

.banner2_mobile_boxes p {
	padding-bottom: .75rem;
}

.banner2_mobile_boxes h3,
.banner2_mobile_boxes p,
.banner2_mobile_boxes span {
	padding-left: .75rem;
}

/*Third Banner Section*/

.banner3 {
	padding: 2rem 4rem;
	background-color: blue;
}

@media only screen and (max-width: 480px) {
	.banner3 {
		padding: 2rem .5rem;
	}
}

.banner3 h1 {
	padding-bottom: 2rem;
	text-align: center;
}

.learning_boxes {
	flex-wrap: wrap;
	justify-content: space-between;
}

.learning_single_box {
	max-width: 30%;
	height: auto;
	background-color: orange;
	margin-bottom: 1rem;
}

.learning_single_box img {
	width: 100%;
	height: auto;
}

.learning_single_box h3 {
	padding-bottom: .5rem;
}

@media only screen and (max-width: 900px) {
	.learning_single_box h3 {
		font-size: 1rem;
	}
}

.learning_single_box p {
	padding-top: .5rem;
}

@media only screen and (max-width: 900px) {
	.learning_single_box p,
	.learning_single_box span {
		font-size: .75rem;
	}
}

.learning_text {
	padding: 1rem;
}

.learning_mobile p {
	text-align: center;
	font-size: 1.5rem;
	padding: .75rem 0;
	width: 100%;
	background-color: pink;
	margin-bottom: .5rem;
	border-radius: 3px;
}

/*fourth banner section*/

.banner4 h1 {
	padding-bottom: 2rem;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.banner4 h1 {
		padding-bottom: 1rem;
	}
}

.banner4 {
	padding: 2rem 1.5rem;
	background-color: green;
}

@media only screen and (max-width: 480px) {
	.banner4 {
		padding: 2rem 0;
	}
}

.banner4_content {
	width: 100%;
}

.banner4_vid_content {
	max-width: 60%;
	height: auto;
	padding-right: 1.5rem;
}

.banner4_vid_content video {
	max-width: 100%;
	padding-bottom: 1.5rem;
}

.banner4_vid_content h2 {
	padding-bottom: .5rem;
}

.mobile_video video {
	width: 100%;
}