/*global rules*/
body {
	font-size: 16px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.flex {
	display: flex;
}

@media only screen and (max-width: 900px) {

.tablet_hide {
	display: none;
}

}

@media only screen and (min-width:900px) {

	.tablet_display {
		display: none;
	}
}

.offset {
	position: relative;
	top: 3rem;
}

/*Fixed Header*/

.fixed {
	justify-content: space-between;
	align-items: center;
	padding: .25rem 0;
	background-color: yellow;
	position: fixed;
	height: 3rem;
	width: 100%;
	z-index: 2;
}

.logo {
	padding-left: 1.5rem;
	align-items: center;
}

.logo span {
	text-transform: uppercase;
	font-size: 1.15rem;
}

#opaque {
	opacity: .5;
}

nav {
	padding-right: 1.5rem;
}

nav li {
	margin-left: 1rem;
	padding: .5rem;
	background-color: green;
	border-radius: 3px;
}

.icons {
	justify-content: space-between;
	padding: .5rem;
	background-color: orange;
}

.icons img{
	height: 3rem;
	width: auto;
}

/*first banner*/

.banner1 {
	padding: 2rem 1.5rem;
	align-items: center;
	background-color: purple;
}

@media only screen and (max-width: 900px) {
	.banner1 {
		flex-direction: column;
		padding: 2rem 0;
	}
}

.banner1 img {
	width: 60%;
	height: auto;
	padding-bottom: 2rem;
}

@media only screen and (max-width: 900px) {
	.banner1 img {
		width: 100%;
		height: auto;
	}
}

.banner1_text {
	text-align: center;
}

@media only screen and (max-width: 900px) {
	.banner1_text {
		text-align: left;
		padding-left: .5rem;
	}
}

.banner1_text h1 {
	padding-bottom: 1.5rem;
}

.banner1_text h2 {
	padding-bottom: 2rem;
}

.banner1_text p {
	display: inline-block;
	padding: .5rem 1.5rem;
	background-color: red;
	color: white;
	font-size: 1.5rem;
}

/*second banner section*/

.banner2 {
	padding: 2rem 1.5rem;
	width: 100%;
}

.banner2_lrg_info {
	width: 60%;
	padding-right: 1.5rem;
}

.banner2_lrg_info img {
	width: 100%;
	height: auto;
	padding-bottom: 2rem;
}

.banner2_lrg_info h2 {
	padding-bottom: 1.5rem;
}

.banner2_lrg_info p {
	padding-bottom: 2rem;
}

.banner2_boxes {
	flex-direction: column;
	width: 40%;
}

.info_boxes img {
	width: 35%;
	height: auto;
}